# Common
node_modules/
npm-debug.log
yarn-error.log
.DS_Store
.env
.env.local
.env.production
.env.test
.env.render
*.env.render

# IDEs
.vscode/
.idea/

# Builds
dist/
build/
.next/
out/
coverage/

# Misc
.coverage
.nyc_output
.tmp
.temp

# PEM Files (Added for Security)
*.pem
private.pem
public.pem
certificate.pem
